body{
    background: url(./Media/lightimage.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.regform{
    width: 500px;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 20px 30px;
    margin: 250px auto;
    color: white;
    font-size: 25px;
    border-radius: 10px;
}

.regform h3{ 
    color: #F3DEBA;
    text-align: center;
}

.regform .textlabel{
    display: block;
}

.input input{
    width: 100%;
    font-size: 1.2em;
    border: 1px solid #006d77;
    border-radius: 10px;
    padding: 10px 10px;
    box-sizing: border-box;
    margin: 5px 0px 15px;
}

input:focus{
    background-color: #F3DEBA;
}

.btn{
   text-align: center;
}

button{
    background-color: cornflowerblue;
    font-size: 30px;
    color: white;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #006d77;
    box-shadow: 2px;
}

.radio input{
    accent-color: #006d77;
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}